.container {
margin-bottom: 0px; margin-top: 0px;
}
body { background: #fff;
}
#header { height: 50px; background: #fff; margin-top: 0px; padding-right: 100px; padding-left: 20px;
} 
#header img { padding-right: 5px; background: #fff; float: left; 
}
#content img{float: right; 
}
#content { background: #eee; width: 900px; padding: 1em; margin-left: auto; margin-right: auto; 
}
#sidebar { font-size: 120%; background: #ddd; width: 630px;
 min-height: 35em;
}
div.post { font-size: 120%; padding: 5px; background: #cef; 
}
div.users { float: left; width: 850px;
}
hr.line { background-color: #ee08; height: 1px;
}

/* Links */
a{ color: #09c; text-decoration: none;
}
a:hover { color: #069; text-decoration: underline;
}
a:visited { color: #069;
}
.navigation { 
}
.navigation { background-color: #fff; white-space: nowrap;
}
ul.navigation { float: right;}

.navigation li { list-style-type: none; display: inline-block; 
}
.navigation li a { padding: 0 5px; font-weight: bold;
}
.navigation li a:visited { color: #09c;
}
.navigation li a:hover { text-decoration: underline;
}
a.signup_button { margin-left: auto; margin-right: auto; display: block; text-align: center; width: 150px;
color: #fff; background: #09c; font-size: 150%; font-weight: bold; padding: 10px; 
}
.round {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
￼border-radius: 10px; }
#footer {
clear:both; 
text-align: right; margin-top: 7px; width: 1310px; margin-left: aerrorExplanation ul li {
font-size: 12px;
list-style: square; }
}

